@model ProductViewModel
@{
    ViewBag.Title = "Products List";
}

@if(TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}

<h1>Products</h1>
<h1>Products</h1>

<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            <a asp-controller="Products" asp-action="ListView" asp-route-id="All" 
                class="list-group-item 
                @Model.CheckActiveCategory("All")">
                All
            </a>
            @foreach (Category c in Model.Categories)
            {
                <a asp-controller="Products" asp-action="ListView" asp-route-id="@c.CategoryName" 
                   class="list-group-item
                         @Model.CheckActiveCategory(c.CategoryName)">
                    @c.CategoryName
                </a>
            }
        </div>
    </div>

    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.ProductModel</td>
                        <td>@product.ProductPrice.ToString("C")</td>
                        <td>
                            <a asp-controller="Products" asp-action="DetailsView"
                               asp-route-id="@product.ProductID"
                               asp-route-slug="@product.Slug">View Details</a>
                        </td>
                        <td>
                            <a asp-controller="Cart" asp-action="AddToCart"
                               asp-route-id="@product.Slug">Add to Cart</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
